body {
    margin: 0;
    padding: 0;
    font-family: Arial;
    background-color: #f56a6a;
}

button {
    width: 20%;
    height: 30px;
    background-color: rgb(44, 45, 44);
    color: white;
    border-radius: 5px;
    margin-left: 10px;
    margin-right: 10px;
}

input {
    width: 40%;
    height: 20%;
    margin-right: 10px;
    margin-left: 10px;
}

.container {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.square {
    width: 80%;
    height: 100%;
    background-color: #d5bcbc;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    border-radius: 10px;
}

.h-20 {
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.h-80 {
    height: 80%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

#lista div {
    width: 200px;
    height: 250px;
    background: #e0caca;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
    box-sizing: border-box;
}

#lista img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

#lista {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 16px;
}

.delete-btn {
    background-color: #ff4d4d;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    width: 100px;
    height: 30px;
}