@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
}

body {
    background-color: #f56a6a;
    font-family: Arial;
}

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.square {
    width: 50%;
    height: 70%;
    background-color: #d5bcbc;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    border-radius: 10px;
}

.h-30 {
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.h-70 {
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    flex-direction: column;
}

button {
    width: 20%;
    height: 30px;
    background-color: rgb(0, 195, 0);
    color: white;
    border-radius: 5px;
}

input {
    width: 40%;
    height: 20%;
    margin-right: 30px;
}

.item {
    width: 90%;
    height: 15%;
    background-color: #d5bcbc;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.delete-btn {
    background-color: red;
    color: white;
    height: 20px;
    width: 60px;
}